* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    width: 100px;
    height: 100px;
}

.colourInput {
    z-index: 10;
    position: relative;
}

.a {
    height: 100px;
    width: 100px;

    position: absolute;
    top: 0;
    left: 0;
}

.one {
    width: 20vw;
    height: 20vw;
    top: 40vw;
    left: 40vw;
    z-index: 5;
}

.two {
    width: 40vw;
    height: 40vw;
    top: 30vw;
    left: 30vw;
    z-index: 4;
}

.three {
    width: 60vw;
    height: 60vw;
    top: 20vw;
    left: 20vw;
    z-index: 3;
}

.four {
    width: 80vw;
    height: 80vw;
    top: 10vw;
    left: 10vw;
    z-index: 2;
}

.five {
    width: 100vw;
    height: 100vw;
}
